body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: yellowgreen;
}

.buttons{
    display: flex;
    margin-bottom: 32px;
    gap: 16px;
}

#grid{
    width: 512px;
    height: 512px;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
    justify-content: center;
    align-items: center;
}


    